---
layout: default
title: "HTB Writeups"
mode: tiles   # <-- change to 'grid' later to enable Hybrid here
---

<h1>HTB Writeups</h1>

{% assign items = site.writeups | where: "platform", "HTB" | sort: "published" | reverse %}
{% if page.mode == 'grid' %}
  {% assign filter_platform = "HTB" %}
  {% include writeup-filters.html items=items filter_platform=filter_platform %}
  {% include writeup-grid.html items=items %}
{% else %}
  {% assign page.basepath = '/writeups/htb' %}
  {% include writeup-category-tiles.html items=items %}
{% endif %}